<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slipwindow"> <!-- "android:sharedUserId="android.uid.system" -->


    <!-- android:sharedUserId="android.uid.system" -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app1_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="p3WZ2YYubR3A3QLYHH7hMNTzpncKqfzv" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SoftManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowAppDetailInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutAppActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.IncomingCallAndMessageService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ListManageActivity"
            android:screenOrientation="portrait" />

        <!--
        <receiver
            android:name=".broadcast.MessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        -->
        <!-- 监听收到的SMS信息广播 -->
        <receiver
            android:name=".broadcast.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <!-- 监听收到的MMS信息广播 -->
        <receiver
            android:name=".broadcast.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <!-- 快速响应服务 -->
        <service
            android:name=".service.HeadleeSmsSendService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <receiver
            android:name=".broadcast.PhoneStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PhoneWhiteListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneDarkListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageDarkListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageWhiteListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneDarkContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneWhiteContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageDarkContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageWhiteContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModleSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectedTimeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectedTimeContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModleMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HarrassMessageManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HarrassManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HarrassPhoneManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectedHarrassAddressInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SensitiveWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TasksManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TasksSettingActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".broadcast.ScreenBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <activity android:name=".NetControlActivity" />

        <service
            android:name=".service.FloatWindowService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".broadcast.AotuStartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity android:name=".FlowManageActivity" />

        <service
            android:name=".service.FlowManageService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".broadcast.MyFlowManageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.slipwindow.MY_FLOWMANAGE_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.PhonePowerOffReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter android:priority="100">
                <action android:name="com.exmple.slipwindow.TODAY_USED_MOBILE" /> <!-- 获取应用今日流量消耗排行 -->
            </intent-filter>
        </receiver>

        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlowManageSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlowManagePackageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlowCorrectedActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.InformService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".FlowlimmitWarningActivity" />

        <service
            android:name=".service.FlowWarningListenService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".broadcast.AutoStartImportServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".FlowOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyLocationActivity" />

        <service
            android:name=".service.ScreenOffService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>